*{margin: 0; padding: 0;}
a{text-decoration: none; color: black;}
body{width: 100%; 
  margin: auto;
  font-family: 'Darumadrop One', 'Kosugi Maru', cursive;
}

.header{
  width:1000px;
  margin: auto;
  text-align: center;
}

.nav_wrap{
  margin-bottom: 1rem;
  background-color: aqua;
}
.nav, .footer{
  width: 1000px;
  margin: auto;
  text-align: center;
}

.nav>a, .footer>a{
  width: 200px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  background-color: rgba(139, 20, 243, 0.906);
  transition: 0.3s;
}
a.youtube {
  background-color: #FF0000; /* Red */
}
a.twitter {
  background-color: #1DA1F2; /* Blue */
}
a.goods {
  background-color: #FC4D50 /* Booth */
}
a.questionbox {
  background-color: #E6B45C; /* box color */
}

/* Style link text and icon */
a {
  display: block;
  padding: 10px;
  color: #FFFFFF; /* White */
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
}
a i {
  margin-right: 10px;
}

.nav>a:hover, .footer>a:hover{
  background-color: rgb(121, 232, 121);
}

.footer_wrap{
  margin-top: 1rem;
  background-color: greenyellow;
}

