#text {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    max-width: 200px;
    font-size: 24px;
    /* Add the following properties to create the speech bubble effect */
    border: 1px solid #000000;
    box-shadow: 5px 5px 30px #888888;
    border-color: transparent #FFF;
    position: relative;
  }
  
  #text::before {
    content: '';
    display: block;
    position: absolute;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
    border-width: 10px;
    right: -15px;
    bottom: 30%;
  }
  
  div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    cursor: pointer;
    max-width: 50%;
    max-height: 110vh; /* set the height of the image to the height of the viewport */
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  .container {
    max-height: 50%;
  }

  button>a{
    display: block;
    color: black; 
    font-family: 'Darumadrop One';
    padding: 15px 5px;
    margin: 0;
  }  