*{
  margin: 0; padding: 0;
}

a{text-decoration: none; color: black;}

.wrap{border: 3px solid red;}
.header{border: 3px solid red;}
.nav{border: 3px solid red;}
.main{border: 3px solid red;}
.indicator{border: 3px solid red;}
.footer{border: 3px solid red;}